{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %} <div class="PageHome-contentWrapper">
            <main class="PageHome-main">

                    <div class="PageHome-pageLead">
                        <div class="ListHomepageCarousel" data-lead-variation="" data-bsp-plugin="Module35193">

        <div class="ListHomepageCarousel-slides flickity-enabled" tabindex="0">



        <div class="flickity-viewport" style="height: 588.292px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="ListHomepageCarousel-slides-slide is-selected" aria-selected="true" style="position: absolute; left: 0%;">

                        <div class="PromoHomepage">

        <div class="PromoHomepage-media"><picture>
                    <source width="1440" height="560" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d1120f7/2147483647/strip/true/crop/2000x778+0+0/resize/1440x560!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fbb%2F85%2Fa9113e1646129ce072d2899f9d5c%2Fcc8a8350-5.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/ed7409c/2147483647/strip/true/crop/2000x778+0+0/resize/2880x1120!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fbb%2F85%2Fa9113e1646129ce072d2899f9d5c%2Fcc8a8350-5.jpg 2x">
                    <source width="720" height="400" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/dd723a9/2147483647/strip/true/crop/2000x1111+0+0/resize/720x400!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fbb%2F85%2Fa9113e1646129ce072d2899f9d5c%2Fcc8a8350-5.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d540c1b/2147483647/strip/true/crop/2000x1111+0+0/resize/1440x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fbb%2F85%2Fa9113e1646129ce072d2899f9d5c%2Fcc8a8350-5.jpg 2x">
                    <img class="Image" alt="Amazon associate wears a mask while working. Photo taken during COVID-19 pandemic." src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d1120f7/2147483647/strip/true/crop/2000x778+0+0/resize/1440x560!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fbb%2F85%2Fa9113e1646129ce072d2899f9d5c%2Fcc8a8350-5.jpg">
                </picture><div class="PromoHomepage-media-bg"></div>

            <h3 class="PromoHomepage-title"><a class="Link" href="https://blog.aboutamazon.com/company-news/amazons-actions-to-help-employees-communities-and-customers-affected-by-covid-19" data-cms-ai="0">Amazon's COVID-19 blog: daily updates on how we're responding to the crisis</a></h3>

    </div>

<div class="PromoHomepage-info">
    <div class="PromoHomepage-info-content mood-color">

            <span class="PromoHomepage-description">How we're supporting our employees, customers, and communities</span>


            <span class="PromoHomepage-button"><a class="Link" href="https://blog.aboutamazon.com/company-news/amazons-actions-to-help-employees-communities-and-customers-affected-by-covid-19" data-cms-ai="0">Continue Reading </a></span>

    </div>
</div>
</div>

                </div></div></div><button class="flickity-button flickity-prev-next-button previous" type="button" disabled="" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-button flickity-prev-next-button next" type="button" disabled="" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div>

</div>
                    </div>


                    <div class="ContainerThreeColumn">
    <div class="ContainerThreeColumn-content">

        <div class="ContainerThreeColumn-title">

                Who we are

        </div>
        <div class="ContainerThreeColumn-columns">
            <div class="ColumnOne">
                <span class="mood-color">
                    <div class="ContainerThreeColumn-description">
                        Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking.
                    </div>
                </span>





    <div class="ColumnOne-modules">
        <div class="ListOrdered">
    <div class="ListOrdered-content">

            <span class="mood-color"><div class="ListOrdered-title">Sections</div></span>



            <ol class="ListOrdered-items">

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/working-at-amazon/our-leadership-principles" target="" data-amzn-id="00000167-ecbf-d1e6-a96f-febf9ab30000" data-cms-ai="0">
        <span class="PromoTextItem-title">Leadership Principles</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/working-at-amazon" target="" data-amzn-id="00000162-171b-d15c-ab62-f79f66240000" data-cms-ai="0">
        <span class="PromoTextItem-title">Working at Amazon</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/our-company/our-positions" target="" data-amzn-id="0000016c-b0a9-dc6b-a17f-b1edd91f0002" data-cms-ai="0">
        <span class="PromoTextItem-title">Our Positions</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/working-at-amazon/diversity-and-inclusion" target="" data-amzn-id="00000169-e019-dcf2-ad6d-eddf5ba70000" data-cms-ai="0">
        <span class="PromoTextItem-title">Diversity and inclusion</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/our-company/select-awards-and-recognition" target="" data-amzn-id="00000169-c5f9-d3f1-a1ed-f5ffbf7e0002" data-cms-ai="0">
        <span class="PromoTextItem-title">Awards and recognition</span>
    </a>

                    </li>

            </ol>

    </div>
</div>

            <div class="ContainerThreeColumn-giantNumber mood-color">
                01
            </div>

    </div>

</div>

    <div class="ColumnTwo">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/hire-power-how-amazonians-raise-the-bar-with-every-interview" data-amzn-id="0000016d-f09e-d488-a3ef-f8dfef4f0002" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/1d1e07c/2147483647/strip/true/crop/1333x1333+475+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F21%2F6c%2Fb4bac4d2418cb5075f58eecb66a9%2F20191021barraiserinterview-js-01.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/1f0c2f3/2147483647/strip/true/crop/1333x1333+475+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F21%2F6c%2Fb4bac4d2418cb5075f58eecb66a9%2F20191021barraiserinterview-js-01.JPG 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/1d1e07c/2147483647/strip/true/crop/1333x1333+475+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F21%2F6c%2Fb4bac4d2418cb5075f58eecb66a9%2F20191021barraiserinterview-js-01.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/1f0c2f3/2147483647/strip/true/crop/1333x1333+475+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F21%2F6c%2Fb4bac4d2418cb5075f58eecb66a9%2F20191021barraiserinterview-js-01.JPG 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/working-at-amazon" data-amzn-id="0000015f-35f1-d5ad-ad7f-3dfd8b200000" data-cms-ai="0">Working at Amazon</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/hire-power-how-amazonians-raise-the-bar-with-every-interview" data-amzn-id="0000016d-f09e-d488-a3ef-f8dfef4f0002" data-cms-ai="0">Hire power: How Amazonians ‘raise the bar’ with every interview</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">More than 3,600 Bar Raisers at Amazon provide diverse, unbiased points of view during the interview process.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/hire-power-how-amazonians-raise-the-bar-with-every-interview" data-amzn-id="0000016d-f09e-d488-a3ef-f8dfef4f0002" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>


    <div class="ColumnThree">
        <div class="PromoImageOnTop-small" data-content-type="video">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/blind-since-birth-writing-code-at-amazon-since-2013" data-amzn-id="00000161-fca9-dee8-a16d-fde922420001" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/3e3423c/2147483647/strip/true/crop/640x640+160+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F30%2Fc3%2Fc9a57b4d4b11961f60e6bab35ef4%2Fforzano-social-promo.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d2af08e/2147483647/strip/true/crop/640x640+160+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F30%2Fc3%2Fc9a57b4d4b11961f60e6bab35ef4%2Fforzano-social-promo.jpg 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/3e3423c/2147483647/strip/true/crop/640x640+160+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F30%2Fc3%2Fc9a57b4d4b11961f60e6bab35ef4%2Fforzano-social-promo.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d2af08e/2147483647/strip/true/crop/640x640+160+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F30%2Fc3%2Fc9a57b4d4b11961f60e6bab35ef4%2Fforzano-social-promo.jpg 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/working-at-amazon" data-amzn-id="0000015f-35f1-d5ad-ad7f-3dfd8b200000" data-cms-ai="0">Working at Amazon</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/blind-since-birth-writing-code-at-amazon-since-2013" data-amzn-id="00000161-fca9-dee8-a16d-fde922420001" data-cms-ai="0">Blind since birth, writing code at Amazon since 2013</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">Michael Forzano said he has a good “mental map of the structure of the code,” which allows him to help colleagues and provide unique feedback to his team.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/working-at-amazon/blind-since-birth-writing-code-at-amazon-since-2013" data-amzn-id="00000161-fca9-dee8-a16d-fde922420001" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>



            </div>
        </div>
    </div><div class="ContainerThreeColumn">
    <div class="ContainerThreeColumn-content">

        <div class="ContainerThreeColumn-title">

                Building the future

        </div>
        <div class="ContainerThreeColumn-columns">
            <div class="ColumnOne">
                <span class="mood-color">
                    <div class="ContainerThreeColumn-description">
                        We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.
                    </div>
                </span>





    <div class="ColumnOne-modules">
        <div class="ListOrdered">
    <div class="ListOrdered-content">

            <span class="mood-color"><div class="ListOrdered-title">Sections</div></span>



            <ol class="ListOrdered-items">

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.science/blog" target="_blank" data-amzn-id="00000170-1161-d54a-aff1-196fab600000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Innovation</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/supporting-small-businesses" target="" data-amzn-id="00000162-2afc-d7b9-ab72-feffd3770000" data-cms-ai="0">
        <span class="PromoTextItem-title">Small business</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/books-and-authors" target="" data-amzn-id="00000163-f538-d97b-a977-ff3dc3050000" data-cms-ai="0">
        <span class="PromoTextItem-title">Authors</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/job-creation-and-investment" target="" data-amzn-id="00000162-2b55-d7b9-ab72-ff7fc3080000" data-cms-ai="0">
        <span class="PromoTextItem-title">Job creation and investment</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/sustainability" target="" data-amzn-id="00000162-2a50-dfbd-af6f-2b523f0e0000" data-cms-ai="0">
        <span class="PromoTextItem-title">Sustainability</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.aboutamazon.com/our-communities" target="" data-amzn-id="00000162-2a9e-d7b9-ab72-febf715e0000" data-cms-ai="0">
        <span class="PromoTextItem-title">Community</span>
    </a>

                    </li>

            </ol>

    </div>
</div>

            <div class="ContainerThreeColumn-giantNumber mood-color">
                02
            </div>

    </div>

</div>

    <div class="ColumnTwo">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/sustainability/what-is-shipment-zero" data-amzn-id="00000168-fe09-dc0d-a36b-fe5d790d0002" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/655083c/2147483647/strip/true/crop/4412x4412+1103+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fd0%2F0a%2Fb4eb536c429296e795c9e0541482%2F20171018texaswindfarm-js-14.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/22a88da/2147483647/strip/true/crop/4412x4412+1103+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fd0%2F0a%2Fb4eb536c429296e795c9e0541482%2F20171018texaswindfarm-js-14.jpg 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/655083c/2147483647/strip/true/crop/4412x4412+1103+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fd0%2F0a%2Fb4eb536c429296e795c9e0541482%2F20171018texaswindfarm-js-14.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/22a88da/2147483647/strip/true/crop/4412x4412+1103+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fd0%2F0a%2Fb4eb536c429296e795c9e0541482%2F20171018texaswindfarm-js-14.jpg 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/sustainability" data-amzn-id="0000015f-35f0-d5ad-ad7f-3dfdf0aa0000" data-cms-ai="0">Sustainability</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/sustainability/what-is-shipment-zero" data-amzn-id="00000168-fe09-dc0d-a36b-fe5d790d0002" data-cms-ai="0">Delivering Shipment Zero, a vision for net zero carbon shipments</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">Learn more about Amazon’s vision to make 50% of all shipments net zero carbon by 2030.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/sustainability/what-is-shipment-zero" data-amzn-id="00000168-fe09-dc0d-a36b-fe5d790d0002" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>


    <div class="ColumnThree">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/community/amazon-contributes-1-million-to-a-new-seattle-foundation-fund-for-community-members-affected-by-covid-19" data-amzn-id="00000170-bd7f-de0c-a775-fdff81ee0002" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/24e366b/2147483647/strip/true/crop/1332x1332+668+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F72%2F83%2F8c32474b4da5be1cd1cef590abfb%2F20200312localbizcovidresponse-blog-04.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/aaf818a/2147483647/strip/true/crop/1332x1332+668+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F72%2F83%2F8c32474b4da5be1cd1cef590abfb%2F20200312localbizcovidresponse-blog-04.JPG 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/24e366b/2147483647/strip/true/crop/1332x1332+668+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F72%2F83%2F8c32474b4da5be1cd1cef590abfb%2F20200312localbizcovidresponse-blog-04.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/aaf818a/2147483647/strip/true/crop/1332x1332+668+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F72%2F83%2F8c32474b4da5be1cd1cef590abfb%2F20200312localbizcovidresponse-blog-04.JPG 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/community" data-amzn-id="0000015f-35ee-dae2-a3ff-3fee009a0000" data-cms-ai="0">Community</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/community/amazon-contributes-1-million-to-a-new-seattle-foundation-fund-for-community-members-affected-by-covid-19" data-amzn-id="00000170-bd7f-de0c-a775-fdff81ee0002" data-cms-ai="0">Amazon contributes $1 million to a new Seattle Foundation fund for community members affected by COVID‑19</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">Learn about the newly formed COVID-19 Response Fund made up of philanthropy, government, and business partners in the Puget Sound-area, and how you can contribute to help.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/community/amazon-contributes-1-million-to-a-new-seattle-foundation-fund-for-community-members-affected-by-covid-19" data-amzn-id="00000170-bd7f-de0c-a775-fdff81ee0002" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>



            </div>
        </div>
    </div><div class="ContainerThreeColumn">
    <div class="ContainerThreeColumn-content">

        <div class="ContainerThreeColumn-title">

                What we do

        </div>
        <div class="ContainerThreeColumn-columns">
            <div class="ColumnOne">
                <span class="mood-color">
                    <div class="ContainerThreeColumn-description">
                        Explore Amazon’s products and services.
                    </div>
                </span>





    <div class="ColumnOne-modules">
        <div class="ListOrdered">
    <div class="ListOrdered-content">

            <span class="mood-color"><div class="ListOrdered-title">Sections</div></span>



            <ol class="ListOrdered-items">

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/" target="_blank" data-amzn-id="0000016c-b16a-df27-a17c-bdff68330000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Amazon.com</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://aws.amazon.com/" target="_blank" data-amzn-id="0000016c-b16b-d34c-ab7d-fdef30760000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Amazon Web Services</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/Prime-Video/b?ie=UTF8&amp;node=2676882011&amp;ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16c-dc6b-a17f-b1ed1c210000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Prime Video</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/gp/dmusic/promotions/PrimeMusic?ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16c-df27-a17c-bdfdbf950001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Amazon Music</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/gp/browse.html?node=6669703011&amp;ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16d-d34c-ab7d-fded49040001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Fire Tablets</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/gp/browse.html?node=8521791011&amp;ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16d-dc6b-a17f-b1edf23b0001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Fire TV</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/gp/browse.html?node=9818047011&amp;ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16e-d34c-ab7d-fdef8e580001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Echo and Alexa</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.com/gp/browse.html?node=6669702011&amp;ref_=aa_us_navigation" target="_blank" data-amzn-id="0000016c-b16f-df27-a17c-bdff32690001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Kindle E-readers and Books</span>
    </a>

                    </li>

            </ol>

    </div>
</div>

            <div class="ContainerThreeColumn-giantNumber mood-color">
                03
            </div>

    </div>

</div>

    <div class="ColumnTwo">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/innovation/waking-up-a-voice-tech-boom" data-amzn-id="00000164-9511-d966-a766-b79d00250003" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/27ea16c/2147483647/strip/true/crop/1333x1333+0+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F24%2F5c%2F0b9a4f044d3dbc297753300ea81e%2F20180607ringalexafund-blog-28.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/bb081eb/2147483647/strip/true/crop/1333x1333+0+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F24%2F5c%2F0b9a4f044d3dbc297753300ea81e%2F20180607ringalexafund-blog-28.JPG 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/27ea16c/2147483647/strip/true/crop/1333x1333+0+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F24%2F5c%2F0b9a4f044d3dbc297753300ea81e%2F20180607ringalexafund-blog-28.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/bb081eb/2147483647/strip/true/crop/1333x1333+0+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F24%2F5c%2F0b9a4f044d3dbc297753300ea81e%2F20180607ringalexafund-blog-28.JPG 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/innovation" data-amzn-id="0000015f-35ef-d5ad-ad7f-3dff92cb0000" data-cms-ai="0">Innovation</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/innovation/waking-up-a-voice-tech-boom" data-amzn-id="00000164-9511-d966-a766-b79d00250003" data-cms-ai="0">Waking up a voice tech boom</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">From Ring to ecobee, a series of startups are innovating
voice technology with the help of the Alexa Fund.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/innovation/waking-up-a-voice-tech-boom" data-amzn-id="00000164-9511-d966-a766-b79d00250003" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>


    <div class="ColumnThree">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/entertainment/music-in-a-voice-first-world" data-amzn-id="00000164-b8ae-d70b-a76d-bdfe95750003" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/67fdc32/2147483647/strip/true/crop/1333x1333+334+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F55%2Ff4%2Facfe10a64bc2bfbc769f9291c3f0%2F20180717kintanbrahmbhattportrait-blog-08.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/e5f142b/2147483647/strip/true/crop/1333x1333+334+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F55%2Ff4%2Facfe10a64bc2bfbc769f9291c3f0%2F20180717kintanbrahmbhattportrait-blog-08.JPG 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/67fdc32/2147483647/strip/true/crop/1333x1333+334+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F55%2Ff4%2Facfe10a64bc2bfbc769f9291c3f0%2F20180717kintanbrahmbhattportrait-blog-08.JPG 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/e5f142b/2147483647/strip/true/crop/1333x1333+334+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F55%2Ff4%2Facfe10a64bc2bfbc769f9291c3f0%2F20180717kintanbrahmbhattportrait-blog-08.JPG 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/entertainment" data-amzn-id="0000015f-35ef-d5ad-ad7f-3dff04d00000" data-cms-ai="0">Entertainment</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/entertainment/music-in-a-voice-first-world" data-amzn-id="00000164-b8ae-d70b-a76d-bdfe95750003" data-cms-ai="0">Music in a voice-first world</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">How Alexa and Amazon Music help you find the music you want (even when you don’t know exactly what you want.)</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/entertainment/music-in-a-voice-first-world" data-amzn-id="00000164-b8ae-d70b-a76d-bdfe95750003" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>



            </div>
        </div>
    </div>
    <a class="PromoBannerTextOverlayTall" href="https://www.aboutamazon.com/investing-in-the-u-s" target="_blank" data-text-alignment="align-left" data-amzn-id="00000164-8228-de74-afe4-db3ea5440000" data-cms-ai="0">

        <div class="PromoBannerTextOverlayTall-background"></div>
        <div class="PromoBannerTextOverlayTall-wrapper">
            <div class="PromoBannerTextOverlayTall-info align-left">

                    <div class="PromoBannerTextOverlayTall-title">Investing in the U.S.</div>


                    <div class="PromoBannerTextOverlayTall-description">Amazon has invested over $160 billion in the U.S. to <br>create jobs, fuel growth, and drive innovation.</div>


                    <span class="PromoBannerTextOverlayTall-button mood-color">check it out</span>

            </div>

                <div class="PromoBannerTextOverlayTall-media"><picture>
                            <source width="1440" height="450" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/aa44114/2147483647/strip/true/crop/1979x618+5+169/resize/1440x450!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F1a%2Ff8%2F3eff67cd47d7bace2a1a0b689b88%2F20180604operationsbfi5stock-js-04-rt-copy.png 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/ff2e178/2147483647/strip/true/crop/1979x618+5+169/resize/2880x900!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F1a%2Ff8%2F3eff67cd47d7bace2a1a0b689b88%2F20180604operationsbfi5stock-js-04-rt-copy.png 2x">
                            <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/d250dbf/2147483647/strip/true/crop/1333x1333+334+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F1a%2Ff8%2F3eff67cd47d7bace2a1a0b689b88%2F20180604operationsbfi5stock-js-04-rt-copy.png 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/0f7d500/2147483647/strip/true/crop/1333x1333+334+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F1a%2Ff8%2F3eff67cd47d7bace2a1a0b689b88%2F20180604operationsbfi5stock-js-04-rt-copy.png 2x">
                            <img class="Image" alt="A man, wearing a dastaar (or turban) in an Amazon fulfillment center (warehouse). He is moving packages from a conveyor belt to a large cart to be shipped. " src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/aa44114/2147483647/strip/true/crop/1979x618+5+169/resize/1440x450!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F1a%2Ff8%2F3eff67cd47d7bace2a1a0b689b88%2F20180604operationsbfi5stock-js-04-rt-copy.png">
                        </picture></div>

        </div>

    </a>
<div class="ContainerThreeColumn">
    <div class="ContainerThreeColumn-content">

        <div class="ContainerThreeColumn-title">

                Learn more

        </div>
        <div class="ContainerThreeColumn-columns">
            <div class="ColumnOne">
                <span class="mood-color">
                    <div class="ContainerThreeColumn-description">
                        Stay connected and keep in touch.
                    </div>
                </span>





    <div class="ColumnOne-modules">
        <div class="ListOrdered">
    <div class="ListOrdered-content">

            <span class="mood-color"><div class="ListOrdered-title">Sections</div></span>



            <ol class="ListOrdered-items">

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://blog.aboutamazon.com/" target="_blank" data-amzn-id="0000016c-b175-d34c-ab7d-fdfd154e0000" data-cms-ai="0">
        <span class="PromoTextItem-title">The Day One blog</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://ir.aboutamazon.com/annual-reports" target="_blank" data-amzn-id="0000016c-b175-df27-a17c-bdfdcaea0000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Letters to Shareholders</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://press.aboutamazon.com/" target="_blank" data-amzn-id="0000016c-b176-ddbc-a57f-bffe4c9c0000" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Press resources</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://ir.aboutamazon.com/" target="_blank" data-amzn-id="0000016c-b176-dc6b-a17f-b1ffc5c80001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Investor resources</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://www.amazon.jobs/en" target="_blank" data-amzn-id="0000016c-b177-dc6b-a17f-b1ff536a0001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Careers at Amazon</span>
    </a>

                    </li>

                    <li class="ListOrdered-items-item">
                        <span class="number mood-color"></span>

    <a class="PromoTextItem" href="https://email.aboutamazon.com/l/637851/2018-10-26/7z82j?Traffic_Source=About&amp;Module=homepage" target="_blank" data-amzn-id="0000016c-b179-df27-a17c-bdfd67250001" data-cms-ai="0" data-external-link="true">
        <span class="PromoTextItem-title">Sign up for our newsletter</span>
    </a>

                    </li>

            </ol>

    </div>
</div>

            <div class="ContainerThreeColumn-giantNumber mood-color">
                04
            </div>

    </div>

</div>

    <div class="ColumnTwo">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://blog.aboutamazon.com/company-news/2018-letter-to-shareholders" data-amzn-id="0000016a-08a7-d9a9-af6b-efa795500000" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/b5e7e75/2147483647/strip/true/crop/1740x1740+378+415/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/98eda27/2147483647/strip/true/crop/1740x1740+378+415/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/b5e7e75/2147483647/strip/true/crop/1740x1740+378+415/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/98eda27/2147483647/strip/true/crop/1740x1740+378+415/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info" data-dayone-link="true">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://blog.aboutamazon.com/company-news" data-amzn-id="00000163-23d0-d0a2-af67-27ddad5a0000" data-cms-ai="0">Company news</a>
            </div>


            <h3><a class="Link" href="https://blog.aboutamazon.com/company-news/2018-letter-to-shareholders" data-amzn-id="0000016a-08a7-d9a9-af6b-efa795500000" data-cms-ai="0">2018 Letter to Shareholders</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">To our shareowners: Something strange and remarkable has happened over the last 20 years.</div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://blog.aboutamazon.com/company-news/2018-letter-to-shareholders" data-amzn-id="0000016a-08a7-d9a9-af6b-efa795500000" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>


    <div class="ColumnThree">
        <div class="PromoImageOnTop-small" data-content-type="article">

        <div class="PromoImageOnTop-small-media"><a class="Link" href="https://www.aboutamazon.com/working-at-amazon/diversity-and-inclusion/affinity-groups" data-amzn-id="00000169-e03f-dcf2-ad6d-edffaa580000" data-cms-ai="0"><picture>
                        <source width="800" height="800" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/63a44a1/2147483647/strip/true/crop/1338x1338+631+13/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Faf%2F8a%2Faa1265464b1dbbf60f5180bf7441%2Fgeneric-lgbtq-credit-at-ayluminate.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/84dd08f/2147483647/strip/true/crop/1338x1338+631+13/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Faf%2F8a%2Faa1265464b1dbbf60f5180bf7441%2Fgeneric-lgbtq-credit-at-ayluminate.jpg 2x">
                        <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/63a44a1/2147483647/strip/true/crop/1338x1338+631+13/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Faf%2F8a%2Faa1265464b1dbbf60f5180bf7441%2Fgeneric-lgbtq-credit-at-ayluminate.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/84dd08f/2147483647/strip/true/crop/1338x1338+631+13/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Faf%2F8a%2Faa1265464b1dbbf60f5180bf7441%2Fgeneric-lgbtq-credit-at-ayluminate.jpg 2x">
                        <img class="Image" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture></a></div>

    <hr class="mood-bgcolor">
    <div class="PromoImageOnTop-small-info">

            <div class="PromoImageOnTop-small-category">
                <a class="Link" href="https://www.aboutamazon.com/working-at-amazon/diversity-and-inclusion" data-amzn-id="00000169-e019-dcf2-ad6d-eddf5ba70000" data-cms-ai="0">Diversity and inclusion</a>
            </div>


            <h3><a class="Link" href="https://www.aboutamazon.com/working-at-amazon/diversity-and-inclusion/affinity-groups" data-amzn-id="00000169-e03f-dcf2-ad6d-edffaa580000" data-cms-ai="0">Affinity groups</a></h3>


            <div class="mood-color">
                <div class="PromoImageOnTop-small-description">Amazon has 12 affinity groups, also known as employee resource groups, which bring Amazonians together across businesses and locations around the world. Some examples include the Black Employee Network (BEN), Amazon Women in Engineering (AWE), and Indigenous@.  </div>
            </div>

        <span class="mood-color">

                <div class="PromoImageOnTop-small-button">
                    <a class="Link" href="https://www.aboutamazon.com/working-at-amazon/diversity-and-inclusion/affinity-groups" data-amzn-id="00000169-e03f-dcf2-ad6d-edffaa580000" data-cms-ai="0">Continue Reading </a>
                </div>

        </span>
    </div>
</div>
    </div>



            </div>
        </div>
    </div>
    <a class="PromoBannerTextOverlayTall" href="https://sustainability.aboutamazon.com/" target="_blank" data-text-alignment="align-left" data-amzn-id="0000016d-4a3a-debd-abed-4b7ac1090000" data-cms-ai="0">

        <div class="PromoBannerTextOverlayTall-background"></div>
        <div class="PromoBannerTextOverlayTall-wrapper">
            <div class="PromoBannerTextOverlayTall-info align-left">

                    <div class="PromoBannerTextOverlayTall-title">Committed to a sustainable future</div>


                    <div class="PromoBannerTextOverlayTall-description">Amazon is making big changes to protect the planet.</div>


                    <span class="PromoBannerTextOverlayTall-button mood-color">see our goals</span>

            </div>

                <div class="PromoBannerTextOverlayTall-media"><picture>
                            <source width="1440" height="450" media="(min-width: 768px)" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/37147b0/2147483647/strip/true/crop/6900x2156+0+1696/resize/1440x450!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F5f%2F99%2F0dbb5b6f4038bcf095e2686b4ecd%2F20171018texaswindfarm-js-34.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/4ca100d/2147483647/strip/true/crop/6900x2156+0+1696/resize/2880x900!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F5f%2F99%2F0dbb5b6f4038bcf095e2686b4ecd%2F20171018texaswindfarm-js-34.jpg 2x">
                            <source width="800" height="800" srcset="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/536f4c8/2147483647/strip/true/crop/4365x4365+1092+0/resize/800x800!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F5f%2F99%2F0dbb5b6f4038bcf095e2686b4ecd%2F20171018texaswindfarm-js-34.jpg 1x,https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/b5986df/2147483647/strip/true/crop/4365x4365+1092+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F5f%2F99%2F0dbb5b6f4038bcf095e2686b4ecd%2F20171018texaswindfarm-js-34.jpg 2x">
                            <img class="Image" alt="© JORDAN STEAD / Amazon, All Rights Reserved." src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/37147b0/2147483647/strip/true/crop/6900x2156+0+1696/resize/1440x450!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F5f%2F99%2F0dbb5b6f4038bcf095e2686b4ecd%2F20171018texaswindfarm-js-34.jpg">
                        </picture></div>

        </div>

    </a>


            </main>


            <div class="PageHome-stickyEnd" data-sticky-end=""></div>

        </div>{% endblock %}
