


.fixed-nav-bar {
position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 50px;
background-color: #00a087;
}



.techfont{
font-family: 'Monoton',sans-serif;
font-size: 1.5em;
margin-bottom=10px;
}

.bigbrand{
font-size: 1.5em;
}
.centerstge{
margin-left: =auto;
margin-right: auto;
}

.postdate{
text-align: center;
}
.postitle{
font-family: 'Russo One',sans-serif;
font-size: 3em;
text-align: center;
}
.postcontent{
font-family: 'Montserrat';
font-size: 1.5em;
}
.btn-comment{
position: absolute;;
right: 0px;
}
/* COLOR CHANGER  */



.loader {
filter:hue-rotate(0deg);
color:linear-gradient(45deg,#0f8,#08f);
animation:hue 10000ms infinite linear;

}

@keyframes spinify {
0% {
	transform: translate(0px,0px);

}
33% {
	transform: translate(0px,24px);
	border-radius:100%;
	width:10px;
	height:10px;

}
 66% {
	transform:translate(0px,-16px);
}

 88% {
	transform:translate(0px,4px);

}
100% {
	transform:translate(0px,0px);
}
}
@keyframes hue{
0%{filter: hue-rotate(0deg);}
100%{filter:hue-rotate(360deg);}

}
body{
background: #3399ff;
}


.circle{
position: absolute;
border-radius: 50%;
background: white;
animation: ripple 15s infinite;
box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
width: 200px;
height: 200px;
left: -100px;
bottom: -100px;
}

.medium{
width: 400px;
height: 400px;
left: -200px;
bottom: -200px;
}

.large{
width: 600px;
height: 600px;
left: -300px;
bottom: -300px;
}

.xlarge{
width: 800px;
height: 800px;
left: -400px;
bottom: -400px;
}

.xxlarge{
width: 1000px;
height: 1000px;
left: -500px;
bottom: -500px;
}

.shade1{
opacity: 0.2;
}
.shade2{
opacity: 0.5;
}

.shade3{
opacity: 0.7;
}

.shade4{
opacity: 0.8;
}

.shade5{
opacity: 0.9;
}

@keyframes ripple{
0%{
	transform: scale(0.8);
}

50%{
	transform: scale(1.2);
}

100%{
	transform: scale(0.8);
}
}
